:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section__list .title {
  margin-bottom: 10px;
}

header {
  border-bottom: 1px solid #ececec;
}

.container.header {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}
.header .logo {
  margin-right: 93px;
}

.header-logo-ending {
  color: #000000;
}

.site-nav {
  display: flex;
  gap: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover, .site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
  position: relative;
}
.site-nav .current::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.auth-nav .button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .button:hover, .auth-nav .button:focus {
  color: var(--accent-color);
}

.mail-icon {
  fill: currentColor;
}

.smartphone-icon {
  fill: currentColor;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-img.jpg");
  background-position: center;
  background-size: cover;
}

.hero__container {
  max-width: 696px;
}

.hero__title {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  padding: 10px 32px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.peculiarities__list {
  display: flex;
  gap: 30px;
}

.peculiarities__icon-container {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.peculiarities__item {
  width: calc((100% - 90px) / 4);
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.peculiarities__text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}

.section.works {
  padding-top: 0;
}

.container .works {
  display: flex;
  gap: 30px;
}

.works-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.works-item-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

.team {
  background-color: #f5f4fa;
}

.team .section__list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

footer .logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-logo-ending {
  color: #ffffff;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-list {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-list a {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list a:hover, .address-list a:focus {
  color: var(--accent-color);
}

.address-list .map-link {
  color: #ffffff;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}

.footer-join {
  width: 206px;
  height: 80px;
}

.footer-join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-join-list {
  display: flex;
  gap: 10px;
}

.footer-join-item {
  width: 44px;
  height: 44px;
}

.footer-join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join-link:hover, .footer-join-link:focus {
  background-color: var(--accent-color);
}

.footer-join-icon {
  fill: currentColor;
}

.footer-subscription {
  padding-right: 0;
  width: 570px;
}

.footer-subscription-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscription-form {
  display: flex;
}

.footer-subscription-form input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-right: 12px;
  color: #ffffff;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-form input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-subscription-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscription-icon {
  fill: #ffffff;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__button {
  padding: 6px 22px;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
}

.portfolio__link {
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio__link:hover .portfolio__description, .portfolio__link:focus .portfolio__description {
  transform: translateY(-100%);
}

.portfolio__project {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* --------------------------modal-------------------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
}

.modal-button-icon {
  fill: currentColor;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* --------------------------form-------------------------- */
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-field-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-form-field-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.modal-form-field input {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #212121;
  fill: currentColor;
}
.modal-form-field input:focus + .modal-form-icon {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
  display: flex;
  margin-bottom: 30px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  width: 425px;
  height: 24px;
}

.modal-form-checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form-checkbox-icon {
  color: #ffffff;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox input:hover + .modal-form-checkbox-icon, .modal-form-checkbox input:focus + .modal-form-checkbox-icon {
  border-color: var(--accent-color);
}
.modal-form-checkbox input:checked + .modal-form-checkbox-icon {
  border: transparent;
  color: var(--accent-color);
}

.modal-form-checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 4px;
}

.form-button {
  width: 200px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */