.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.auth-nav .button {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mail-icon {
  fill: currentColor;
}
.smartphone-icon {
  fill: currentColor;
}
