.logo {
  display: flex;

  color: var(--accent-color);
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;

  .header & {
    margin-right: 93px;
  }
}
.header-logo-ending {
  color: #000000;
}
