.mobile-menu__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  z-index: 2;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__icon--open {
  fill: currentColor;
  .mobile-menu__button.is-open & {
    display: none;
  }
}
.mobile-menu__icon--close {
  display: none;
  fill: currentColor;
  .mobile-menu__button.is-open & {
    display: block;
  }
}
.menu__container {
  width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 1;

    &.is-open {
      display: flex;
      // flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social__item:not(:last-child)::after {
  content: '';
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social__list a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
