.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* --------------------------modal-------------------------- */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 528px;
  border-radius: 4px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-button-icon {
  fill: currentColor;
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* --------------------------form-------------------------- */

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form-field-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
}
.modal-form-field-input {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}
.modal-form-field input {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  color: #212121;
  fill: currentColor;

  .modal-form-field input:focus + & {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form-field textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox {
  display: flex;
  margin-bottom: 30px;
  margin-left: 8px;

  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}
.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  width: 425px;
  height: 24px;
}
.modal-form-checkbox input {
  appearance: none;
}
.modal-form-checkbox-icon {
  color: #ffffff;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-checkbox input:hover + &,
  .modal-form-checkbox input:focus + & {
    border-color: var(--accent-color);
  }
  .modal-form-checkbox input:checked + & {
    border: transparent;
    color: var(--accent-color);
  }
}

.modal-form-checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 4px;
}
.form-button {
  width: 200px;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
