body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: $fontPrimary;
}
button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  @extend %section;
}
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.section__list .title {
  margin-bottom: 10px;
}
