.footer-subscription {
  padding-right: 0;
  width: 570px;
}
.footer-subscription-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-subscription-form {
  display: flex;
}
.footer-subscription-form input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-right: 12px;
  color: #ffffff;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.footer-subscription-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-subscription-icon {
  fill: #ffffff;
}
